@font-face {
    font-family: xfiles-modern;
    src: url(./assets/Xfiles.ttf) format("truetype");
  }
  
  @font-face {
    font-family: xfiles-spooky;
    src: url(./assets/x-files.ttf) format("truetype");
  }
  
  body {
    background-image: url(./assets/background.png);
    color: white;
    font-family: xfiles-spooky;
    margin-top: 450px;
    background-repeat: no-repeat;
  }
  
  p {
    max-width: 400px;
    line-height: 1.5em;
  }