@font-face {
  font-family: xfiles-modern;
  src: url(./assets/Xfiles.ttf) format("truetype");
}

@font-face {
  font-family: xfiles-spooky;
  src: url(./assets/x-files.ttf) format("truetype");
}

body {
  background-image: url(./assets/background.png);
  background-position: center;
  background-size: cover;
  color: white;
  font-family: xfiles-spooky;
  height: 90vh;

  background-color: black;
  background-repeat: no-repeat;
}
p {
  max-width: 400px;
  font-size: 1.25rem;
  line-height: 1.5em;
  font-family: xfiles-spooky;
}

h1 {
  font-family: xfiles-spooky;
}

.fails {
  margin-left: auto;
  margin-right: auto;

  font-size: 120px;
  font-family: xfiles-modern;
  position: absolute;
  top: 160px;
  left: 280px;
}
.content {
  margin-left: auto;
  margin-right: auto;

  position: absolute;
  top: 300px;
  left: 280px;
}

a {
  padding: 1rem;
  border: solid 1px white;
  color: white;
  display: inline-block;
}
