@font-face {
  font-family: walter;
  src: url(./assets/WalterTurncoat-Regular.ttf) format("truetype");
}

h1 {
  font-family: walter;
}

p {
  font-family: walter;
  font-size: 1.25rem;
}

body {
  font-family: walter;
  width: 80vw;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
}

div {
  box-sizing: border-box;
}

a {
  padding: 1rem;
  border: solid 1px black;
  margin-top: 0.5rem;
  display: block;
}

.social-telling {
  display: flex;
}

.social-telling.rechts {
  flex-direction: row-reverse;
}

.social-telling img {
  width: 200px;
  height: auto;
  object-fit: contain;
}

.social-telling div.sprechblase {
  background-image: url(./assets/sprechblase.png);
  background-repeat: no-repeat;
  padding: 50px;
  width: 345px;
  height: 260px;
}

.social-telling.rechts div.sprechblase {
  background-image: url(./assets/sprechblase_rechts.png);
}

.social-telling.beide div.sprechblase {
  background-image: url(./assets/sprechblase_beide.png);
}

.social-telling div.avatar {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.font-large {
  font-size: large;
}

.bubble {
  display: inline-block;

  position: relative;
  padding: 30px 40px;
  border-radius: 10px;
  border: 3px solid black;
  background: white;

  clear: both;

  &:before {
    content: "";
    position: absolute;
    bottom: -50px;
    height: 50px;
    width: 90px;
  }

  &:after {
    content: "";
    position: absolute;
    bottom: -50px;
    height: 50px;
    width: 90px;
  }

  &.left {
    float: left;
    margin: 10px 100px 160px 10px;
    &:before {
      border-radius: 0 0 100%;
      box-shadow: -2px -2px 0 0 #000 inset, -23px 0 0 0 #fff inset,
        -25px -2px 0 0 #000 inset;
      left: 0;
    }
  }
  &.right {
    float: right;
    margin: 10px 10px 160px 100px;
    &:after {
      border-radius: 0 0 0 100%;
      box-shadow: 2px -2px 0 0 #000 inset, 23px 0 0 0 #fff inset,
        25px -2px 0 0 #000 inset;
      right: 0;
    }
  }
}
